<% provide(:title, "発注詳細") %>
<h1>発注詳細</h1>
<ul>
  <li>タイトル:   <%= @placing_order.topic %></li>
  <li>カテゴリー: <%= @placing_order.category %></li>
  <li>予算:      <%= @placing_order.cost_minimum %>万 ~ <%= @placing_order.cost_maximum %>万</li>
  <li>詳細:      <%= @placing_order.detail %></li>
  <%= link_to gravatar_for(@placing_order.user, size: 20), @placing_order.user %>
  <span class="user"><%= link_to @placing_order.user.name, @placing_order.user %></span>
  <% if current_user?(@placing_order.user) %>
    <span class="user"><%= link_to "編集", edit_placing_order_path(current_user.id) %></span>
  <% end %>
</ul>
<%= link_to "ご相談はこちら！！" %>