<% provide(:title, "Edit user") %>
<div class="container-fluid">
  <h3 class="my-3">プロフィールの編集</h3>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name ,class: 'form-control mb-3' %>

    <%= f.label :email %>
    <%= f.email_field :email ,class: 'form-control mb-3' %>

    <%= f.label :password %>
    <%= f.password_field :password ,class: 'form-control mb-3' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation ,class: 'form-control mb-3' %>

    <%= f.submit "変更を保存", class: 'mb-3' %>
  <% end %>
</div>