<% provide(:title, @user.name) %>
<div class="container-fluid">
  <div class="text-center m-4"> 
    <%= gravatar_for @user %>
    <h3 class="fw-bold"><%= @user.name %></h3>
    <%= render 'shared/stats' %>
    <div class="mt-1 text-center">
      <%= render 'follow_form' if logged_in? %>  
    </div>
  </div>
  <ul class="list-group mb-3 mx-5">
    <li class="list-unstyled fw-bold px-5">注文一覧</li>
    <% @orders.each do |order| %>
      <li class="list-group-item">
        <%= render partial: 'orders/order_simple', locals: { order: order} %>
      </li> 
    <% end %>
  </ul>
</div>