<% provide(:title, '新しい受注') %>
<h1>新しい受注</h1>
<%= form_with(model: @order, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <p><%= f.label :題名 %></p>
  <%= f.text_field :topic %>

  <p><%= f.label :category %></p>
  <%= f.text_field :category %>

  <p><%= f.label :cost_minimum, "予算" %></p>
  <%= f.number_field :cost_minimum %>万
  
  <%= f.label :cost_maximum, "~" %>
  <%= f.number_field :cost_maximum %>万
  
  <p><%= f.label :detail %></p>
  <%= f.text_area :detail %>

  <%= f.hidden_field :order_list, value: "recieving" %>

  <p><%= f.submit "送信", class: "btn btn-primary" %></p>
<% end %>