<header>
  <div>
    <%= link_to "テッキー職人", root_path, id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ヘルプ", help_path %></li>
        
        <% if logged_in? %>
          <li><%= link_to "ユーザ一蘭", users_path %></li>
          <li>
            <a href="#">
              アカウント <b></b>
            </a>
            <ul>
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "登録情報変更", edit_user_path(current_user) %></li>
              <li><%= link_to "ログアウト", logout_path ,method: :delete %></li>
            </ul>
          </li>
          <li>
          <a href="#">
            注文 <b></b>
          </a>
          <ul>
            <li><%= link_to "受注一蘭", recieving_orders_path %></li>
            <li><%= link_to "受注する", new_recieving_order_path %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>