<header>
  <div>
    <%= link_to "テッキー職人", root_path, id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "MyPage",   profile_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "SingnUp", "/users/new" %></li>
      </ul>
    </nav>
  </div>
</header>